mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls, width="250", height="100")
            h4.vidieoBlock__title=video.title
            h6.videoBlcok__view= video.views